
* {
  box-sizing: border-box;
}

.box {
   position: relative;
   top: 50px;
   left:100px;
  float: left;
  width: 250px;
  border: 1px solid rgb(207, 205, 205);
  height: 60px;
  border-radius: 2px;
 
}
.clearfixupdate
{
    padding: 40px;
  
}
.pic img
{
    height: 40px;
    border-radius: 50px;
    position: relative;
    left: 190px;
    top:8px;
}

